# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# Build/package files
build/
dist/
*.egg-info/


# Temporary ignore of test images to avoid storing unwanted images on github
*.jpg