# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# Build/package files
build/
dist/
*.egg-info/

# Dataset images and annotations
*.jpg
*.txt

# YOLO cache files
*.cache

# Temporary files
*.tmp
*.log

# YOLO training files that can be regenerated
**/weights/last.pt
**/BoxF1_curve.png
**/BoxP_curve.png
**/BoxR_curve.png
**/BoxPR_curve.png
**/F1_curve.png
**/P_curve.png
**/R_curve.png
**/PR_curve.png

# Generated prediction outputs
runs/detect/
runs/predict/

# Local GUI recordings
*.mp4